In [15]:
import pandas as pd
import logging
import re
import psycopg2
from sqlalchemy import create_engine

logging.basicConfig(level = logging.INFO)

In [2]:
url = "https://id.wikipedia.org/wiki/Daftar_tokoh_Indonesia_menurut_kekayaan#2021"

In [3]:
# Extract 
def scrape(url):
    logging.info(f"Scraping url: , '{url}'")
    return pd.read_html(url, header=None)

df = scrape(url)[7] # Mengambil data tabel urutan 7 (2021)

INFO:root:Scraping url: , 'https://id.wikipedia.org/wiki/Daftar_tokoh_Indonesia_menurut_kekayaan#2021'

In [4]:
def is_money_miliar(string_money):
    return string_money.lower().endswith("miliar")

# Merubah kolom 'Kekayaan Bersih (US$) menjadi format numeric
def transform_money_format(string_money):
    half_clean_string = string_money.lower().replace(',','.').replace(' ','')
    return re.sub(r"[?\[M\]miliar|\[J\]juta]","",half_clean_string)

In [5]:
# Transform 
def transform(df, tahun):
    logging.info("[INFO] Transforming DataFrame...")
    
    column_mapping = {
        "Nomor Urut":"nomor_urut",
        "Nama":"nama",
        "Kekayaan Bersih (US$)":"kekayaan_bersih_usd",
        "Perusahaan":"perusahaan"
    }

    rename_df = df.rename(columns=column_mapping)
    rename_df['tahun'] = tahun

    rename_df['kekayaan_bersih_usd_juta'] = rename_df['kekayaan_bersih_usd'].apply(
    lambda value: float(transform_money_format(value)) * 1000 if is_money_miliar(value) else float(transform_money_format(value))
    )

    return rename_df[["nomor_urut", "tahun", "nama", "perusahaan", "kekayaan_bersih_usd_juta"]]

df_2021 = transform(df, 2021)

INFO:root:[INFO] Transforming DataFrame...

In [13]:
DB_HOST = "localhost"
DB_NAME = "orangkaya"
DB_USER = "postgres"
DB_PASSWORD = "Akusukabaju123"
CONNECTION_TO_STRING = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}"
TABLE_NAME = "orang_terkaya"

In [14]:
CONNECTION_TO_STRING

'postgresql+psycopg2://postgres:Akusukabaju123@localhost/orangkaya'

In [20]:
# Load 
def write_to_postgres(df, db_name, table_name, connection_string):
    engine = create_engine(connection_string)
    logging.info(f"[INFO] Write data to PostgreSQL..")
    return df.to_sql(table_name, con=engine, if_exists='replace', index=False)

In [21]:
write_to_postgres(df_2021, db_name=DB_NAME, table_name=TABLE_NAME, connection_string=CONNECTION_TO_STRING)

INFO:root:[INFO] Write data to PostgreSQL..

50